body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

#codeScreen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(70,148,187,0);
	opacity: 0;
	transform: scale(.1);
	display: none;
	transition: all .15s;
}

#codeLetters {
	position: absolute;
	width: 100%;
	top: 15%;
	font-size: 0;
	height: 120px;
	text-align: center;
}

#codeLetters > div {
	height: 100%;
	font-size: 100px;
	display: inline-block;
	width: 100px;
	border-bottom: 10px solid #fff;
	vertical-align: text-bottom;
	color: #fff;
	margin: 0 16px;
}
