* {
  box-sizing: border-box; 
 /* border:1px solid red;*/
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #A8A8A8; 
  background-image: url("D:/HTML_CSS practise CMTC/HTML_CSS Weather app/img/weatherapp_landing_page_background.png");
  background-repeat: no-repeat;
}
.header {
  padding-left: 350px;
  padding-top: 150px;
  width: 1100px;
}

h1 {
  color: #fff;
  font-size: 3.4em;
}

h2 {
  font-size: 2.2em;
  color: #7979E5;
  text-transform: uppercase; 
  
 
}

h3 {
  font-size: 1.4em;
  color: #fff;
  text-transform: uppercase; 
  
}
h5 {
font-size: 1em;
  color: #DCD4D4;
}

.button {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 1em;
  padding: 1em 2.4em;
  border-radius: .3em; 
}

.button_primary {
  background-color: #F96A49; 
  
}

.button_secondary {
  background-color: #4568C5;
  padding: 1.08em 2.4em;
  margin-left: .6em; 
}

a {

  color:#A8A8A8;
  text-decoration: none;
}


.center-parent { 
  text-align:center; 
  padding-right: 300px;

}
.center         { 
  display:inline-block; margin:0 50px; 
}
.center-main { 
  padding-right: 50px; 
  
}

i {
  color: #fff;
  padding-right: 20px;
 padding-left: 20px;
}
p {
  color: #fff;
}

img {
  
    float: right;
  }
.lowertext {
  margin-top: 600px;
  text-align:center; 
  color: blue;
}